@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$color-verde : #00C194;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F1F8F6;
    font-family: Ubuntu;

/*-------Header------*/

    header{
        margin: 0%;
        background-color: white;
        height: 100px;
        width: 100%;
        .div-header{
            display: flex;
            flex-direction: row;
            margin:0 40px 0px 80px;
            .container-logo{
                display: flex;
                flex-direction: row;
                height: 70px;
                margin: 10px 40px 0 40px;
                .imagen-logo{
                    width: 100px;
                    height: 70px;
                    margin-right: 8px;
                    margin-top: 0;
                }
                .letra-logo{
                    display: inline-block;
                    margin: 0%;
                    padding: 0%;
                    height: 100%;
                    h3{
                        letter-spacing: 1px;
                        font-weight: 500;
                        line-height: 4px;
                        margin: 40px 0 10px 0;
                    }
                    p{
                        font-size:  14px;
                        word-spacing: 1px;
                        color: $color-verde;
                    }
                }
            }
            .header-li{
                height: 100%;
                margin-top: 40px;
                padding: 0%; ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    list-style: none;
                    li{
                        margin: 0 20px 0 0;
                        a{
                            color:black;
                            text-decoration: none;
                        }

                        a:hover{
                            color: $color-verde;
                        }
                        select{
                            border: none;
                            text-decoration: none;
                            background-color: white;
                        }

                        select:hover{
                            color: $color-verde;
                        }
                    }
                    li:hover{
                        box-shadow:  0px 1px 0px  $color-verde;
                    }
                }
            }
            .header-contadores{
                height: 70px;
                margin: 40px 100px 0 100px;
                padding: 0%;
                button{
                    margin: 5px;
                    border-radius:   50%;
                    background-color: rgb(190, 187, 187);
                    width: 35px;
                    height: 35px;
                    border: none;
                    div{
                        margin-top: -3px;
                        width: 15px;
                        height: 12px;
                        position:absolute;
                        z-index: 100;
                        margin: -3px;

                    }
                    span{
                        background-color: rgb(190, 187, 187);
                    }
                    
                }
                button:hover{
                    background-color: $color-verde;
                    span{
                        background-color: $color-verde;
                    }
                }
            }
            div{
                margin-top: 30px;
                width: auto;
                button{
                    border-radius: 20px;
                    width: 120px;
                    height: 40px;
                    border: none;
                    background-color: $color-verde;
                    color: white;
                    box-shadow:  1px 1px #d1d7d6;
                }
                button:hover{
                    background-color:#70ebd0
                } 
            }
        }

    }
/*-----------Main-----------*/
    main{
        margin: 150px 120px 0;
        padding: 0%;

        h1{
            font-weight: 700;
            margin-bottom: 40px;
        }
        /*Section2*/
        .section1{
            background-color: #F1F8F6;
            div{
                margin: 0% ;
                .box{
                    margin: 0% -10px;
                }
            }
        }
        .container{
            margin: 100px 0 50px;
        }
        .lbl-menu{
            width:250PX;
            margin-bottom: 10px;
            label{
                display: inline-block;
                padding: 20px;
                color: black;
                cursor: pointer;
                transition: all 400ms ease;
                background: white;
                border-radius:8px;
                height: 30px;
                text-align: center;
                padding: 20px;
            }
        }
        .lbl-menu label:hover{
            background: $color-verde;
            color: #fff;
        }
        .content{
            
            position: relative;
            div{
                position: absolute;
                line-height: 1.8;
                transition: all 600ms ease;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.90);
                padding: 30px;
                background: #fff;
                padding-bottom: 40px;

                
            }
            
        }
        #radio1,#radio2,#radio3,#radio4{
            display: none;
        }
        #radio1:checked ~ .tab1,
        #radio2:checked ~ .tab2,
        #radio3:checked ~ .tab3,
        #radio4:checked ~ .tab4
        {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        .content div:after{
            position: absolute;
            content: "";
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-bottom: 10px solid #fff;
            bottom: 100%;
            left: 28px;
        }
        .content .tab2:after{
            left: 122px;
        }
        .content .tab3:after{
            left: 210px;
        }
        .content .tab4:after{
            left: 303px;
        }

        form{
            input{
                border: none;
            }
            #select{
                border: 0px;
            }
            button{
                border-radius: 20px;
                width: 120px;
                height: 40px;
                border: none;
                background-color: $color-verde;
                color: white;
                box-shadow:  1px 1px #d1d7d6;
            }
            button:hover{
                background-color:#70ebd0
            } 
        }
    .img-principal{
            width: 1500;
            height: 400px;
            margin: 0 -110px 0 -30%;
    }
    /*Section2*/
    .title{
        p{
            color: $color-verde;
            font-weight: 600;
            text-align: center;
        }
        h2{
            font-weight: 700;
            text-align: center;
        }
    }
    .section2{
        margin-top: 70px;
        
        .container-container{
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 100px;
            .cajita{
                background-color: white;
                margin: 20px ;
                width: 265px;
                height: 250px;
                border-radius: 10px;
                text-align: center;
                padding: 20px 0 0 0;
                
                div{
                    border-radius: 50%;
                    height: 90px;
                    width: 90px;
                    background-color: #d4f3ec;
                    margin: 10px 15px 20px 90px;
                    .img-cajita{
                        width: 50%;
                        height: 50%;
                        margin-top: 15px;
                    }
                }
                h4{
                    font-weight: 700;
                }
                label{
                    font-size: 30px;
                    font-weight: 900;
                    margin-top: 30px;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    box-shadow: 1px 1px #d1d7d6;
                }
                label:hover{
                    color: $color-verde;
                }
            }
            .cajita:hover{
                background-color: $color-verde;
                label{
                    color: $color-verde;
                    background-color: white;
                }
            }
        }

    }
    .section3{
        margin-bottom: 60px;
        .title{
            margin-bottom: 100px;
        }
        #propiedadesTodas:hover{
            background-color: #d4f3ec;
            cursor: pointer;
            box-shadow:  0px 1px 0px  $color-verde;
        }
        .cards1{
            width: auto;
            height: 50rem;
            display: flex;
            .card-propiedad{
                display: inline-block;
                #pintar{
                    background-color:white; 
                    width: 280px; 
                    height: 350px; 
                    padding:0;
                    margin: 0 8px 8px 10px;
                }
                }
        }
    }
/*section4*/
    .section4{
        margin-top: 40px;
        #cards-agentes{
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            #asesores{
                margin: auto;
                background-color:white;
                width: 200px;
                height: 300px;
                padding:12px;
                border-radius:10px;
            }
        }
    }
        .section5{
            margin: 160px 35px 0 75px;
            display: flex;
            flex-direction:row;
            .contenedor-image{
                display: flex;
                flex-direction: row;
                .columna-image{
                    display: block;
                    .img1{
                        width: 200px;
                        margin: 20px;
                    }
                    .img2{
                        width: 200px;
                        height: 130px;
                        margin: 20px;
                    }
                }
                .img3{
                    width: 240px;
                    height: 280px;
                    margin-top: 60px;
                }
            }
            .contenedor-texto{
                margin: 20px 20px 0 80px;
                text-align: left;
                    .p1{
                        color: $color-verde;
                        font-weight: 600;
                    }
                    h2{
                        font-weight: 700;
                    }
                    p{
                        color: gray;
                        font-size: 12;
                    }
            }
            .div-section5{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px 0 10px 0px ;
                .div1{
                    margin-right: 100px;
                }
                }
            }

            .section6{
                margin: 140px 0 -200 0;
                text-align: center;
                .p1{
                    color: $color-verde;
                    font-weight: 600;
                }
                h2{
                    font-weight: 700;
                }
                .logos-footer{
                    margin-top: 80px;
                    display: flex;
                    flex-direction: row;
                }

            }
            .section7{
                margin-top: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .image-final{
                    width: 300px;
                    height: 400px;

                }
                h2{
                    font-weight: 700;
                    margin: 200px 380px 0 0;

                }

            }

           
        
    }

    .btn{
        margin: 0 5px -3px 0;
        border-radius: 10px;
        background-color: $color-verde;
        width: 100%;
        height: 35px;
        border: none;
        color: white;
    }
    .btn:hover{
        background-color:#d4f3ec;
        color: $color-verde;
    }
    img{
        width: 100%;
        height: 100%;
    }




    footer{
        margin-top: 0%;
        width: 100%;
        background-color: #24334A;
        display: flex;
        flex-direction: row;
        height: 20rem;
    }

}
